appdirs==1.4.3
backports-abc==0.4
beautifulsoup4==4.5.1
bs4==0.0.1
certifi==2016.9.26
click==6.6
enum34==1.1.6
Jinja2==2.8
livereload==2.4.1
Markdown==2.6.7
MarkupSafe==0.23
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mkdocs-cinder==0.9.4
packaging==16.8
pyparsing==2.2.0
PyYAML==3.12
requests==2.11.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
